body{
    background-color: #32012F;
    color: #524C42;
    
}
.contain{
    box-shadow: #32012F;
    background-color: #524C42;
}
.regidt{
    color: #E2DFD0;
}
.do{
    color: #E2DFD0;
}
a{
    text-decoration: none;
    color: #F97300;
}
.main{
    color: #32012F;
    
}